{% extends "layout.html" %} {% block body %}
<table>
  <tr>
    <th>event</th>
    <th>description</th>
    <th>cancelled</th>
  </tr>
  {% for event in events %}
  <tr>
    <td>{{ event.name }}</td>
    <td>{{ event.description }}</td>
    <td>{{ event.cancelled }}</td>
    <td>
      <form
        method="POST"
        action="{{ url_for('events_set_cancelled', event_id=event.id)}}"
      >
        <input type="submit" value="change" />
      </form>
    </td>
    <td><a href="/events/{{ event.id }}">view/change</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
