{% extends "layout.html" %} {% block body %}

<h1>{{ event.name }}</h1>
<p>{{ event.description }}</p>
<p>Organiser: {{ creator[0].name }}</p>
<p>Hour of creation: {{ event.date_created }}</p>

{% if current_user.id == event.creator_id %}
<form
  method="POST"
  action="{{ url_for('events_set_cancelled', event_id=event.id)}}"
>
  {{ form.name(value=event.name) }}
  <input type="submit" value="set event name" />
</form>
<form
  method="POST"
  action="{{ url_for('events_set_cancelled', event_id=event.id)}}"
>
  {{ form.description(value=event.description) }}
  <input type="submit" value="set event description" />
</form>
<form
  method="POST"
  action="{{ url_for('events_set_cancelled', event_id=event.id)}}"
>
  <input type="submit" value="change wether the event is on or not" />
</form>
<form method="POST" action="{{ url_for('events_delete', event_id=event.id)}}">
  <input type="submit" value="delete" />
</form>
{% endif %}
<p>
  People currently coming
</p>
<ul>
  {% for user in users_interested %}
  <li>
    {{ user.name }}
  </li>
  {% endfor %}
</ul>
{% if current_user %}
<form
  method="POST"
  action="{{ url_for('events_set_cancelled', event_id=event.id)}}"
>
  <input type="submit" value="toggle interest" />
</form>

{%endif%} {% endblock %}
